<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title></title>
</head>
<body>
<div th:fragment="menu-fragment">
  <h4>Menu</h4>
  <ul>
    <li><a href="/static">Static HTML Example</a></li>
    <li><a href="/dynamic">Dynamic HTML Example (Variables)</a></li>
    <li><a href="/conditional">Thymeleaf Conditional Example</a></li>
    <li><a href="/loop">Thymeleaf Loop Example</a></li>
    <li><a href="/fragment">Thymeleaf Fragment Example (Kinda functions)</a></li>
  </ul>
</div>
</body>
</html>