<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <h2>Index Menu</h2>
    <h4><a href="/static">Static HTML Example</a></h4>
    <h4><a href="/dynamic">Dynamic HTML Example (Variables)</a></h4>
    <h4><a href="/conditional">Thymeleaf Conditional Example</a></h4>
    <h4><a href="/loop">Thymeleaf Loop Example</a></h4>
    <h4><a href="/fragment">Thymeleaf Fragment Example (Kinda functions)</a></h4>
</body>
</html>