<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Static Example</title>
</head>
<body>
  <p>This is just static HTML.</p>
  <h2>Header Tag</h2>
  <ul>
    <li>bullet point 1</li>
    <li>bullet point 2</li>
  </ul>
  <p>Just plain old HTML. Nothing special going on here.</p>
  <p>We still have to mark this file as <b>xmlns:th="http://www.thymeleaf.org"</b> because the Thymeleaf engine is still building this HTML file for us. It's not injecting any data, or logic into this file. But it still needs to be built. And that's one of Thymeleaf's responsibilities.</p>
  <a href="/">Back to Index Menu</a>
</body>
</html>